div.portraits {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 7.5%;
}

main h2 {
    text-align: left;
    margin-left: 7%;
    padding: 2%;
    font-size: 2.8rem;
}

.item1,
.item2,
.item3 {
    width: 21vw;
    height: 80%;
}

figure {
    border: lightpink 2px solid;
    width: 100%;
    height: 100%;
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 3.5% 0;

}