* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size:62.5%;
  font-family: montserrat;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  color: #303030;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #333333;
}
a:hover{
  color: #eb008a;
}
h1,h2{
  font-family: 'Permanent Marker', cursive;
}
img{
  width: 100%;
  height: auto;
}
li{
  list-style: none;
}
/* ======= **HEADER**====== */
header {
  padding-top: 1.2%;
  width: 100%;
}
h1 {
  text-align: center;
  margin-bottom: 1%
}
/* == headTitle == */
div.headTitle {
  width: 100vw; 
 background-color: #ffcad3;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* == div. arrows */
div.arrows{
  width: 13%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
div.left img{
  transform: rotate(180deg);
}
.headTitle ul {
  width: 90%;
  display: flex;
  padding: 1.55%;
}
.headTitle img{
width: 44px;
background-color: #ffcad3;
}

li.btnClose{ 
  width: 44px;
  margin-right: 3.5%;
}
li.btnClose button{
  background: #ffcad3;
  width: 44px;
  height: 44px;
  border:#fff solid 2.5px;
  border-radius: 50px;
  font-size:3rem;
  color: #fff;
}
li.home{
  background-color: #ffcad3;
  width: 44px;
  margin-right: 1.5%;
  background-color: #ffff;
  }
  
 li.breadcrumb{
  margin-right: 1.5%;
  background-color: #ffff;
  width: 65%;
  border-radius: 3px;
  align-self: center;
  padding: 0.50%;
  font-size:1.8rem;
  }
  li.icon_search {
    margin-right: 1.5%;
    background-color: #ffff;
    width: 15%;
    border-radius: 50px;
    align-self: center;
  }
  .icon_search img{
    background: #ffff;
    border-radius: 50px;
  }
  
/* ==NAV== */
nav {
  border: #ffcad3 1px solid;
  width: 100vw;
  font-size: 2.2rem;
  font-weight: 500;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  letter-spacing: -0.062em;
  font-weight: 600;
}
nav ul li:not(:first-child) {
  width: 20%;
  text-align: center;
}
nav ul li:first-child {
  width: 25%;
  padding: 2.5% 0;
  margin-right: 10%;
  background-color: #c4c4c4;
  background-size:100%;
  background-position: 50%;
}

/* ======= ** MAIN **====== */
/* == hero == */
div.hero {
  width: 100vw;
  height: 49vh;
  background-image: url('../images/polynesia-3021072_1920.jpg');
  background-repeat: no-repeat; 
  background-size:cover;
  background-position-x:50%;
  background-position-y:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.hero h2{
  font-size: 5rem;
}
/* == about == */
div.about {
  height: 20vh;
  margin: 3.55% 0 2.5% 2.5%;
}
.about h2 {
  margin-bottom: 2%;
}
/* ======= **FOOTER**====== */
footer {
  width: 100vw;
  height: 7.55vh;
  bottom: 0;
  left: 0;
  background-color: #ffcad3;
  
}
@media screen and (max-width: 720px) {
  body {
    background-color: rgba(255, 182, 193, 0.172);
  }

  h1,
  h2,
  .hero h2 {
    font-size: 2vh
  }
  .headTitle img {
    width: 24px;
  }
  li.btnClose button {
    width: 24px;
    height: 24px;
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
  li.home {
    width: 24px;
    background-color: #ffcad3;
  }
  li.breadcrumb {
    padding: 0.35%;
    font-size: 1.4rem;
  }

  nav {
    font-size: 1.3vh;
    font-weight: 100;
    padding: 2%;
  }
}


